*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:darkblue;
    color:white;
}
h1{
    text-align: center;
    margin: 100px auto 50px;
    
}
form{
    width: 100%;
    max-width: 600px;
    margin: auto;
    height: 70px;
    display: flex;
    align-items: center;
}
form input{
    flex: 1;
    height: 100%;
    padding: 0 30px;
    font-size: 20px;
    border: none;
    color: white;
    background-color: rgb(72, 67, 224);
    border-radius:10px 0px 0px 10px;
    outline: 0;
    
}
form button{
    width:100px;
    height: 100%;
    border: none;
    border-radius: 0 10px 10px 0px;
    background-color: rgb(246, 79, 19);
    font-size: 18px;
    color: white;
    cursor: pointer;
}
::placeholder{
    color: beige;
}
#show-more{
    display: none;
    cursor: pointer;
    margin: 30px auto;
    width :120px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: orangered;
}
#search-result{
    width:100%;
    margin: 100px auto 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    display: flex;
    flex-wrap: wrap;
}
#search-result img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
.noResults{
    display: flex;
    justify-content: center;
    padding: 0 0 0 50px;
    font-size: x-large;
}
 